# History files
.Rapp.history
.Rhistory
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.Rproj.user

# produced vignettes
inst/doc
vignettes/*.html
vignettes/*.pdf
